
{:paths ["src/clj" "src/cljs" "resources"]

 ; Dependecies
 :deps {org.clojure/clojure                             {:mvn/version "1.10.1"}
        com.github.seancorfield/clj-new                 {:mvn/version "1.1.293"}
        com.novemberain/monger                          {:mvn/version "3.5.0"}
        org.clojure/clojurescript                       {:mvn/version "1.10.844"}
        ring-server/ring-server                         {:mvn/version "0.5.0"}
        reagent/reagent                                 {:mvn/version "1.0.0"}
        thheller/shadow-cljs                            {:mvn/version "2.12.5"}
        com.google.javascript/closure-compiler-unshaded {:mvn/version "v20210302"}
        org.clojure/google-closure-library              {:mvn/version "0.0-20201211-3e6c510d"}
        com.wsscode/pathom3                             {:git/url "https://github.com/wilkerlucio/pathom3"
                                                         :sha     "ea60bb0031961fca5600630ce297b43dbd643225"}
        monotech-hq/monoset                             {:git/url "git@github.com:monotech-hq/monoset"
                                                         :sha     "e3433050778eae7a2e692b604883c42fd9db334d"}}

 ; Aliases 
 :aliases
 {:dev-site  {:exec-fn swordfish.core/dev
              :exec-args  {:shadow-build :site}
              :extra-deps {binaryage/devtools               {:mvn/version "1.0.0"}
                           com.wsscode/pathom-viz-connector {:mvn/version "2021.01.25"}
                           org.clojure/tools.namespace      {:mvn/version "1.0.0"}}}
  :dev-admin {:exec-fn swordfish.core/dev
              :exec-args  {:shadow-build :admin}
              :extra-deps {binaryage/devtools               {:mvn/version "1.0.0"}
                           com.wsscode/pathom-viz-connector {:mvn/version "2021.01.25"}
                           org.clojure/tools.namespace      {:mvn/version "1.0.0"}}}
  :prod {:extra-deps {com.github.seancorfield/depstar {:mvn/version "2.0.211"}}
         :exec-fn swordfish.compile/ready
         :exec-args {:java {:aot true
                            :jar "swordfish.jar"
                            :jar-type :uber
                            :main-class swordfish.core}
                     :javascript [:admin-ready :site-ready]}}}}
