{:lein         true
 :source-paths ["src"]
 :builds       {:app {:target     :browser
                      :output-dir "resources/public/js"
                      :asset-path "/js"
                      :modules    {:app {:entries [swordfish.core]}}
                      :devtools   {:after-load swordfish.core/mount-root}}}
 :dev-http     {3000 {:root    "resources/public"
                      :handler swordfish.handler/app}}}
