{:builds
 {:site
              {:asset-path "/js/core"
               :compiler-options {:infer-externs :auto}
               :devtools {:watch-dir "resources/public"
                          :after-load swordfish.core/render-app!}
               :modules {:site {:init-fn swordfish.core/boot-app!}}
               :output-dir "resources/public/js/core"
               :target :browser}
  :site-ready
              {:modules {:site {:init-fn swordfish.core/boot-app!}},
               :optimizations :advanced
               :asset-path "/js/core"
               :output-dir "resources/public/js/core"
               :target :browser}}}
