
/******* Normalize *******/

/* Remove the margin and padding. */
body, p,
button, input, optgroup, select, textarea {
  margin: 0;
  padding: 0 }


/* Remove the gray background on active links in IE 10. */
a {
  background-color: transparent;
  outline-style: none }


/* 1. Remove the border on images inside links in IE 10.
 * 2. ...
 * 3. ... */
img {
  /* 1. */ border-style: none;
  /* 2. */ box-sizing: content-box;
  /* 3. */ display: block }

/* ... */
button {
  color: inherit;
  cursor: pointer }


/* Show the overflow in IE.
 * 1. Show the overflow in Edge. */
button,
input { /* 1. */
  overflow: visible }


button,
input,
textarea {
  background-color: transparent;
  border: none;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  outline-style: none }


/* Remove the inheritence of text transforms in Edge, Firefox, and IE.
 * 1. Remove the inheritence of text transforms in Firefox. */
button,
select { /* 1. */
  text-transform: none }


/* Correct the inability to style clickable types in iOS and Safari. */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button }


/* Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0 }


/* Restore the focus styles unset by the previous rule. */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText }


/* Remove the default vertical scrollbar in IE 10+.
 * This rule is overwritten by .z-textarea { overflow: hidden }
 * textarea { overflow: auto } */


/* Set scrolling to the root element.
 * The scroll-behavior property doesn't work in IE and Safari. 2019.03.10 */
html {
  height: 100vh;
  scroll-behavior: smooth }


/* 1. All elements inherit the cursor property from the body element.
 * 2. Use custom cursor.
 * 3. All elements inherit the box-sizing property from the body element.
 * 4. ... */
body {
  /* 1. */ cursor: default;
  /* 2. */ /* cursor: url('/cursor.png'), default; */
  /* 3. */ box-sizing: border-box;
  /* 4. */ -webkit-font-smoothing: antialiased }

/* ... */
footer, header, div, label, p, span {
  cursor: inherit }


/* In the X world everything is position: relative. */
a, button, footer, header, div, p, span, label, img {
  position: relative }


/* Hide scrollbar in Webkit browsers. */
html::-webkit-scrollbar {
  display: none }


/* Inherit the box-sizing property of the body element. */
*,
*::before,
*::after { box-sizing: inherit }


/* ... */
a, a:link, a:visited,
a:hover, a:active {
  color: inherit;
	text-decoration: none }


/* ... */
div, p, span {
  /* user-select not supperted properly in all browsers */
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none }


/******* Normalize *******/
